
.image {
    height: 400px;
}

.facilities_offers {
    background-image: linear-gradient(90deg, #000 50%, transparent);  
    display: grid;    
    gap: 4rem;    
}

.facilities__header p {
    max-width: 500px;    
}

.facilities__library,
.facilities__shop {    
    border-radius: 10px;
    display: grid; 
}

.facilities__library {
    background-image: linear-gradient(90deg, #FF8947, #53268e);
}

.facilities__library > .image img,
.facilities__shop > .image img {    
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.facilities__library section:not(.gallery),
.facilities__shop section:not(.gallery) 
{
    display: grid;
    grid-template-rows: auto 1fr;
    padding: 2rem;
}

.facilities__library .gallery,
.facilities__shop .gallery {
    margin-top: 2rem;
}

.gallery div {
    display: flex;
    flex-wrap: wrap;
    gap:1rem;   
}

.gallery img {
    width: 4rem;
    height: 4rem;
    object-fit: cover;
    border-radius: 10px;
    transition: all 1s ease;
}

.facilities__restaurant {
    position: relative;
    min-height: 500px;
    background-image: 
    linear-gradient(90deg, #000 50%, transparent),
    url('/images/facilites/restaurant.jpg');        
    background-repeat: no-repeat;    
    background-size: cover;
    background-position: center;        
}

.facilities__restaurant p {
    max-width: 50%;
}

.facilities__restaurant section:not(.gallery){
    height: 100%;
    display: grid;
    grid-template-rows: auto 1fr;
    padding: 2rem;
}

.facilities__shop {
    background-image: linear-gradient(90deg, #1B602E, #0032E3);
}

/* .facilities__restaurant img {
    position: absolute;
    right: 0;
    top:0;
    height: 100%;
    object-fit: cover;
    object-position: left;
    max-width: 50%;    
} */

.for-kids, 
.for-teachers {
    padding: 4rem 0;      
}


.for-kids {
    background-color: #031809;
}

.for-teachers {
    background-color: #1D1D1D;
}

.for-kids section,
.for-teachers section {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}


.image-gallery {
    background-color: rgb(0, 0, 0);  
    border-style: solid;
    border-color: #ececec;  
    position: fixed;
    top: 1px;
    left: 1px;
    width: 99%;        
    z-index: 300;    
    padding: 2rem;
    border-radius: 10px;                  
    display: none;
}

.image-gallery__show {        
    display: block;
}

.image-gallery .close {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 2rem;
}

.close button {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.image-gallery .image-view {
    display: flex;
    align-items: center;   
    justify-content: center;
    width: 100%;                    
}

.image-view img {
    max-height: 500px;
    border-radius: 10px;    
    object-fit: cover;  
}

.image-gallery .gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap:.5rem;
    padding: 2rem 0;
}

.mute {
    opacity: .2;
}

.two-col {
   display: flex;
   flex-direction: column;   
   align-items: center;
   gap: 3rem;

}

.two-col img {    
    width: 60%;
}

@media screen and (min-width: 800px) {
    .facilities__library,
    .facilities__shop {    
        grid-template-columns: 40% auto;    
    }

    .facilities__library > .image img,
    .facilities__shop > .image img {            
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
    }


    .two-col {
        display: grid;        
    }

    .two-col img {
        width: 100%;
        grid-area: image;
    }

    .two-col article {
        grid-area: article;
    }


    .for-kids .two-col {       
        grid-template-areas: 
        'image article';        
    }

    .for-teachers .two-col {
        grid-template-areas: 
        'article image';         
    }
   
    .image-gallery {
        top:10px;
        left:10vw;
        width: 80vw;         
    }

    .image-gallery .gallery {        
        gap:2rem;        
    }

    .image-view img {
        height: 500px;
    }
}