@import url("/css/landing_page.css");
@import url("/css/exhibitions.css");
@import url("/css/facilities.css");

@font-face {    
    font-family: Righteous;
    src: url(../fonts/Righteous/Righteous-Regular.ttf);    
    font-display: swap;
}

@font-face {    
    font-family: "Open Sans";
    src: url(../fonts/Open_Sans/static/OpenSans/OpenSans-Regular.ttf);    
    font-display: swap;
}

@font-face {    
    font-family: "Open Sans Bold";
    src: url(../fonts/Open_Sans/static/OpenSans/OpenSans-Bold.ttf);    
    font-display: swap;
}

:root {
    --font-sans: font-family:"Open Sans", Arial, Helvetica, sans-serif;
    --font-sans-bold: font-family:"Open Sans Bold", Arial, Helvetica, sans-serif;
    --font-heading: font-family: Righteous, Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    --hero-img: url(../images/star-sky-wide-p.jpg);
    --white: #fff;
    --black: #000;
    --green: green;
    --highlight: #EFE6E6;
    --highlight-dark: #130b0b;
    --light-gray: #F2F2F2;
    --gray: #c4c4c4;
    --dark-gray: #1b1b1b;
    --btn-green: #1B602E;
    --btn-hover-green: #278742;    
    --box-color: #EFE6E6;
    --box-color-dark: #280707;
    --outline: #f9f9f9;
    --outline-dark: #2d2d2d;
    --backdrop-color: #000;
    --pattern-background: #1b1b1c;

}

*, *::before, *::after {
    box-sizing: border-box;    
}

* {    
    padding: 0;  
    margin: 0;  
    font-size: 100%;
    font: inherit;    
    color: var(--white);
}

input,
textarea {
    background-color: var(--dark-gray);
    padding:.5rem;
    border-radius: 10px;
    border-style:solid;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

a {    
    text-decoration: none;
}

.mx-1 {
    margin: .5rem 0;
}

.mx-2 {    
    margin: 1rem 0;
}

.mx-4 {
    margin: 2rem 0;
}

.mx-8 {
    margin: 4rem 0;
}

.mx-10 {
    margin: 5rem 0;
}

ul li {
    list-style-type: none;
}

html{
    /* -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;    */
    color-scheme: dark light;
    font-family:"Open Sans", sans-serif;    
}

img, picture, svg, video {
    display: block;
    max-width: 100%;
}

h1, 
p {
    padding-bottom: 1rem;
}

h1 {
    font-family: Righteous, serif;
    font-size: 3rem;
    text-transform: capitalize;    
}

h2,
h3 {
    color: var(--gray);
}

h2 {
    padding-bottom: 1rem;
    font-size: 0.7rem;
    font-family: var(--font-sans);
    text-transform: uppercase;
    letter-spacing: 0.2rem;
}

h3 {    
    font-family: 'Open Sans', sans-serif;
    padding: 1rem 0;
    font-weight: bold;    
    font-size: .9rem;
}

strong {
    font-family: 'Open Sans Bold', sans-serif;    
}

.map {
    width: 100%;    
}

.modal {
    position: fixed;
    background-color: var(--green);
    top: 50%;    
    transform: translateY(-50%);
    padding: 12rem 4rem;
    width: 100%;
    max-height: 60%;
    display: none;
    z-index: 300;
    flex-direction: column;    
    align-items: center;
    justify-content: center;   
    text-align: center;
    border-style: solid;
    border-color: var(--white); 
}

.modal-content__text {
    grid-area: text;
}

.modal-content__image {
    grid-area: image;
    justify-self: center;
}

.modal-content__image img {
    width: 200px;
}

.modal-content {
    text-align: center;    
    display: grid;
    grid-template-areas:
    'image'
    'text';
    gap: 2rem;
}

@media screen and (min-width: 800px) {

    .modal-content__image {
        width: 100%;
    }

    .modal {
        text-align: left;
    }
    .modal-content {
        text-align: left;    
        display: grid;
        grid-template-areas:
        'text image';        
        gap: 2rem;
    }
}

.modal h1 {
    font-family: var(--font-sans-bold);
    font-size: 5vw;
}

.modal .button {
    color: var(--black);
}

.open {
    display: flex;    
}

.backdrop { 
    height: 100%;
    width: 100%;
    position: fixed;        
    background-color: var(--backdrop-color);
    z-index: 200;
    opacity: .8;
}

form {
    display: grid;
    gap:1rem;
}

.form_field {
    display: grid;
    gap: .5rem;
    width: 100%;
}

.input__textarea {
    display: block;
    width: 100%;
    height: 200px;
}

.input__text {    
    display: block;
    width: 100%;
}

.button {
    display: inline-block;
    padding: .5rem 1rem;    
    border-radius: 10px;
    border: none;
    width: auto;
    font-size: .7rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: .2rem;
    
}

.outline {
    border-style: solid;
    border-width: 1px;
    border-color: var(--outline-dark);    
}

body {    
    min-height: 100vh;
    display: grid;
    width: 100%;
    grid-template-rows: auto 1fr auto;
    background-color: #191919;
}

.logo {
    width: 150px;
    height: auto;
}

.container, 
.container__wide,
.header__container,
.footer__container 
{    
    margin: 0 auto;
    padding: 0 1rem;
    width: 100%;
}

.container {
    max-width: 1080px;    
}

.header__container,
.footer__container,
.container__wide 
{    
    max-width: 1440px;    
}

.header__container {
    display: flex;    
    align-items: center;
}

header {
    position: fixed;
    z-index: 99;
}

header ul a {
    position: relative;
    border-radius: 10px;
    border-color: transparent;
    border-style: solid;
    border-width: 1px;
    padding: 4px 8px;
}

header ul a:hover {    
    background: #3a3a3a;    
    transition: all 500ms ease;
}

header ul .active {
    border-color: #3a3a3a;        
}



/* 
##############
Navigation 
###############
*/

.header__container {
    display: flex;
    justify-content: center;      
}

.header__top,
.header__bottom {        
    padding: 1rem 0;    
    transition: padding 1s ease-in, background 1s;
}

.header__top {
    width: 100vw;
}

.header__bottom {
    width: 100vw;
    /* overflow: auto;
    white-space: nowrap; */
}

.header__top ul,
.header__bottom ul {    
    gap: 1rem;
}

.header__bottom ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.header__top ul {
    display: none;    
}

.header__top nav {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.header__bottom ul {
    display: flex;    
}

.header__top {    
    background-color: var(--black);    
}

.header__bottom {
    background-color: var(--dark-gray);
}

.header__top a,
.header__bottom a {
    color: var(--white);
}

.slidein-menu {
    display: flex;
    position: fixed;
    background-color: rgba(0, 128, 0, 0.668);    
    right: -110vw;
    top:0;
    width: 0;
    height: 100%;
    justify-content: flex-end;
    align-items: center;
    z-index: 100;
    backdrop-filter: blur(5px);    
    transition: all 200ms ease-in-out;
}

.slidein-menu__open {    
    width: 100vw;  
    right: 0;  
}

.slidein-menu ul {
    display: flex;
    flex-direction: column;
    text-align: right;
    padding: 10rem 0;
    height: 100%;
    width: 60%;
    background-color: green;    
    gap:1rem;    
}

.slidein-menu a {
    font-size: 5vw;
    color: var(--dark-gray);
}

.menu-button {    
    color: var(--white);       
    display: block; 
    position: fixed;
    right:15px;
    top:10px;
    color:#fff;
    z-index: 110;
    border:none;
    background-color: transparent;
    font-size: 2rem;
    cursor: pointer;    
}

.home {
    display: flex;
    gap:.5rem;
    align-items: center;
    background-color: #1B602E;
}

@media screen and (min-width: 800px) {

    .header__top ul,
    .header__bottom ul {    
        gap: 2rem;
    }

    .header__top ul {
        display: flex;   
        align-items: center; 
    }

    .menu-button {
        display: none;
    }
}

/* Navigation end */

main {
    display: grid;         
}

.wrapper {
    padding: 6rem 0;
}

.box {    
    background-color: var(--box-color-dark);
    border-radius: 10px;
    padding: 2rem;  
}

.responsive-list {
    display: flex;    
    flex-direction: column;
    gap: 1rem;
}

.posts {
    background-color: var(--black);
}

.post-teaser {
    position: relative;
    display: grid;    
    grid-template-rows: auto auto;    
    border-radius: 10px;
    border-radius: 10px;       
    background-color: var(--dark-gray);     
    transition: all 500ms ease;    
}

.post-teaser:hover {
    background-color: var(--highlight-dark);
    box-shadow: 3px 5px 30px rgba(255, 255, 255, 0.5);     
}

.post-teaser article {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 250px;
    padding: 1rem;
}

.responsive-list li {
    flex-grow: 1;
    flex-basis: 0;
}

.post-teaser img {
    height: 300px;
    width: 100%;
    object-fit: cover;    
    object-position: bottom left;      
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.post-teaser h1 {    
    font-family: 'Open Sans', sans-serif;
    padding: 1rem 0;
    font-weight: bold;    
    font-size: .9rem;
    color: var(--gray);
    text-transform: uppercase;
}

.post-teaser a {
    text-decoration: underline;
    font-size: .9rem;   
    width: fit-content;
}

.post-teaser a:hover {
    color: var(--gray);
    
}

.exhibitions {
    background-image: linear-gradient(45deg, #111111, #601b5b);    
}

.card {
    position: relative;
    display: grid;
    grid-template-rows: auto 1fr auto;
    border-radius: 10px;        
    color: var(--white);
    padding: 1rem;
    width: 100%;
    height: 100%;
}

.card a.link {
    font-size: 2rem;
}

.card a.link:hover i {    
    animation: arrow-bounce 500ms;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-delay: 500ms;    
}

.card:hover {
    box-shadow: 3px 5px 30px rgba(255, 255, 255, 0.5);     
    background-image: linear-gradient(90deg, #241b60,#846351);   
    transition: all 250ms ease-out;     
}

.post-teaser a.link::after,
.card a.link::after {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: ' ';
  }

.purple-gradient {
    background-color: #8b2281;
    background-image: linear-gradient(45deg, #8b2281, #1b602e);
}

.brown-gradient {
    background-color: #94461b;
    background-image: linear-gradient(45deg, #94461b, #8b2281);
}

.green-gradient {
    background-color: #1b602e;
    background-image: linear-gradient(45deg, #1b602e,#94461b);
}

.more-link {
    display: block;
    margin: 1rem 0;    
    font-size: .9rem;
    color: var(--light-gray);
}

.more-link:hover {    
    color: var(--btn-green);
}

.more-button {
    position: relative;
}

.more-button span {
    position: relative;
    z-index: 2;
}

.more-button::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    opacity: 0;
    height: 100%;
    background: #00000060;
    border-radius: 10px;
    transition: all .35s;
}

.more-button:hover::after {
    width: 100%;
    opacity: 1;
}

.researchers
{
        background-color: #101011;        
}

@keyframes arrow-bounce {
    from {
        transform: translateX(0px);
        opacity: 1;
    }
    to {
        transform: translateX(10px);
        opacity: .5;
    }
}

.event-schedule {
    display: flex;
    flex-direction: column;
    gap:4rem; 
}

.schedule,
.event  {    
    width: 100%;
    padding:1rem;
}

.schedule > article {
    padding: 2rem;
    display: grid;        
    gap: 2rem;
    border-radius: 10px;
    background-color: #130b0b;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%231b1b1c' fill-opacity='0.4'%3E%3Cpath opacity='.5' d='M96 95h4v1h-4v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9zm-1 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9z'/%3E%3Cpath d='M6 5V0H5v5H0v1h5v94h1V6h94V5H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.schedule > article img {
    border-radius: 10px;
    height: 300px;
    width: 100%;
    object-fit: cover;
}

/* background svg pattern from https://heropatterns.com */
.event-section {
    background-color: var(--pattern-background);
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23130b0b' fill-opacity='0.4'%3E%3Cpath opacity='.5' d='M96 95h4v1h-4v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9zm-1 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9z'/%3E%3Cpath d='M6 5V0H5v5H0v1h5v94h1V6h94V5H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.event {   
    background-color: var(--highlight-dark);
    min-height: 500px;
    border-radius: 10px;    
    display: grid;
    grid-template-rows: auto auto 1fr auto;
}

.event img {
    height: 300px;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.event h1,
.schedule h1 {
    font-family: var(--font-sans-bold);
    font-size: 1.3rem;
    padding: 1rem 0;
}

.event p {    
    font-size: 0.9rem;
    line-height: 1.3rem;
}

.section__about {    
    display: grid;
    gap:4rem;
}

.location {
    background-color: var(--highlight-dark);
}

.contact {
    background-color: var(--black);
}

.calendar-view {
    display: flex;
    gap:1rem;
    border-style: solid;
    border-color: var(--black);
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    padding: 4px 0;
}

.article__about {
    display: grid;
    gap: 2rem;
}

.article__about img {
    max-height: 400px;
}

.article__about__body {
    line-height: 1.6rem;
}



@media screen and (min-width: 800px) {
    .form_field {
        display: grid;
        gap: .5rem;
        width: 60%;
    }

    .responsive-list {        
        flex-direction: row;        
    }
    .reseachers-card {        
        grid-template-columns: auto 40%;            
    }
    .reseachers-card img {        
        max-width: 500px;
    }
    .article__about {
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
        'h1 h1'
        'h2 h2'
        'article img';
    }
    .article__about h1 {
        grid-area: h1;
    }
    .article__about h2 {
        grid-area: h2;
    }
    .article__about img {
        height: auto;
        grid-area: img;
    }
    .article__about__body {
        grid-area: article;
    }
    .schedule > article {
        display: grid;
        grid-template-columns: auto auto;          
        gap: 2rem;
        background-color: #130b0b;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%231b1b1c' fill-opacity='0.4'%3E%3Cpath opacity='.5' d='M96 95h4v1h-4v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9zm-1 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9z'/%3E%3Cpath d='M6 5V0H5v5H0v1h5v94h1V6h94V5H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    }    
    .schedule > article img {        
        height: 100%;        
    }
    
}

/* footer */

footer {    
    background-color: #191919;
    min-height: 200px;
    display: grid;
    grid-template-rows: 1fr auto;
    gap: 4rem;
    padding: 4rem 0;
}

.quick-links a {
    display: block;
    padding: .5rem 0;    
}

footer section {
    display: flex; 
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    gap: 3rem;
}

footer article p 
{    
    font-size: 0.8rem;
    max-width: 700px;
}

.infocard {
    font-size: 0.8rem;
    display: grid;
    grid-template-columns: auto 1fr;
    gap:1rem;
}

@media screen and (min-width: 800px) {
    footer section {
        flex-direction: row;
        gap: 7rem;
    }
}
